body {
    display: grid;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    margin: 0px;
    
    font-family: "Roboto", sans-serif;
    grid-template-rows: min-content 5fr min-content;
}

#header {
    background-color: blanchedalmond;
}

#footer {
    background-color:  #ea580c;
}